.git
.github
.husky
*.tgz
dist
log
node_modules
npm-debug.log
tokens
userDataDir
wppconnect_tokens
unicaclub_tokens
uploads
WhatsAppImages
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
Thumbs.db
.idea
.vscode
*.zip
*.png
backupFolder
README.md
.gitignore